@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

// color
$bg: #FEFEFE;
$bgDark: #F8F4F0;

$fontDark: #1C2035;
$fontLight: #4A516D;

$primaryColor: #B38B59;
$secondaryColor: #113e21c4;

// font
$titleFont: 'Raleway', sans-serif;
$bodyFont: 'Questrial' sans-serif;

// shadow
$boxShadow: 2px 0px 4px rgba(0,0,0,0.25);
$buttonShadow: 1px 1px 4px 0px rgba(102, 102, 102, 0.25);
$textShadow: 3px 3px 8px rgba(75, 72, 72, 0.05);

// border
$imageBorder: 0.25rem;
$buttonBorder: 0.15rem;
/** 1200px oder schmaler */
$breakpoint-lg: 75em!default;

/** 992px oder schmaler */
$breakpoint-md: 62em!default;

/** 768px oder schmaler */
$breakpoint-sm: 48em!default;

/** 576px oder schmaler */
$breakpoint-xs: 36em!default;

/** 480px oder schmaler */
$breakpoint-xxs: 30em!default;

/** Breakpoints */
@media (max-width: $breakpoint-lg) {}
@media (max-width: $breakpoint-md) {}
@media (max-width: $breakpoint-sm) {}
@media (max-width: $breakpoint-xs) {}
@media (max-width: $breakpoint-xxs) {}
