@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

$bg: #FEFEFE;
$bg-dark: #F8F4F0;
$font-dark: #1C2035;
$font-light: #4A516D;
$primary: #B38B59;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Questrial', sans-serif;

    @media (max-width: 834px){
        text-align: center;
    }
}

li{
    list-style: none;
    cursor: pointer;
}

img{
    box-shadow: 1px 1px 4px rgba(0,0,0, 0.25);
    border-radius: 0.25rem;
}

.container{
    max-width: 78rem;
    width: 100%;
    margin: 2.5rem auto;
    padding: 1.85rem 0;

    @media (max-width: 1290px){
        padding: 1.5rem 2rem;
    }

    @media (max-width: 480px){
        padding: 1rem 2rem;
    }
}

.icon{
    cursor: pointer;
}

.title{
    font-family: 'Raleway', sans-serif;
    font-size: 3.3rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.25);
    color: $font-dark;
}

.heading__one{
    font-family: 'Raleway', sans-serif;
    font-size: 2.75rem;
    font-weight: 600;
    letter-spacing: 0.107rem;
    color: $font-dark;
    padding-bottom: 0.5rem;

    @media (max-width: 744px){
        font-size: 2.25rem;
    }

    &--light{
        color: $bg;
        font-family: 'Raleway', sans-serif;
        font-size: 2.75rem;
        font-weight: 600;
        letter-spacing: 0.107rem;
        text-transform: uppercase;
        padding-bottom: 1.25rem;

        @media (max-width: 744px){
            font-size: 2.25rem;
        }
    }
}

.heading__two{
    font-family: 'Raleway', sans-serif;
    font-size: 1.65rem;
    font-weight: 500;
    color: $font-dark;

    @media (max-width: 834px){
        text-align: center;
    }
}

.heading__three{
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.039rem;
    color: $font-dark;

    @media (max-width: 834px){
        text-align: center;
    }
}

.paragraph{
    font-family: 'Questrial', sans-serif;
    font-size: 0.87rem; 
    font-weight: 400;
    letter-spacing: 0.035rem;
    line-height: 188%;
    color: $font-dark;

    &--light{
        color: $bg;
        font-family: 'Raleway', sans-serif;
        font-size: 0.87rem; 
        font-weight: 200;
        letter-spacing: 0.035rem;
        line-height: 180%;
        padding-bottom: 1.75rem;

        @media (max-width: 744px){
            font-size: 0.75rem;
        }
    }

    @media (max-width: 744px){
        font-size: 0.75rem;
    }
}

.description{
    font-family: 'Raleway', sans-serif;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 0.04;
    font-weight: 600;
    color: $font-light;
    padding-bottom: 0.5rem;

    @media (max-width: 834px){
        text-align: center;
        font-size: 0.75rem;
    }
}

.button-primary{
    border-radius: 0.375rem;
    border: none;
    background-color: $primary;
    padding: 0.8rem 2.75rem;
    color: $bg;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    font-size: 0.85rem;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 1px rgba(0,0,0, 0.25);

    @media (max-width: 744px){
        font-size: 0.75rem;
    }
}

.button-secondary{
    border-radius: 0.375rem;
    padding: 0.8rem 2.75rem;
    border: 1px solid $primary;
    color: $font-dark;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    font-size: 0.85rem;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 1px rgba(0,0,0, 0.25);

    @media (max-width: 744px){
        font-size: 0.75rem;
    }
}

.small-break{
    padding-bottom: 1rem;
}