@use '../../Styles/base';
@use '../../Styles/variables';

.bathroom{
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid variables.$secondaryColor;
    position: relative;
    background-color: variables.$bgDark;
    transition: filter 0.5s ease-in-out,
                position 0.5s ease-in-out,
                background-repeat 0.2s ease-in-out,
                background-size 0.2s ease-in-out,
                background-image 0.2s ease-in-out;
    &:hover{
        background-image: url(../../assets/bathroom.jpg);
        filter: contrast(0.8) brightness(0.9) saturate(0.8) sepia(0.15);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative; 
    }
    .bathroom__heading{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3.25rem;
        position: relative;
        z-index: 2;
    }
    @media (max-width: variables.$breakpoint-xxs) {
        height: 20rem;
    }
    @media (max-width: variables.$breakpoint-xss) {
        height: 16rem;
    }
}