@use '../../Styles/base';
@use '../../Styles/variables';

.nav{
    max-width: 98rem;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 0;
    position: relative;
    z-index: 2;
    @media (max-width: 1290px){
        padding: 1.5rem 2rem;
    }

    @media (max-width: 480px){
        padding: 1rem 2rem;
    }
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4rem;
    text-shadow: variables.$textShadow;
    .logo_text{
        font-family: variables.$titleFont;
        font-weight: 800;
        color: variables.$primaryColor;
        font-size: 1.95rem;
        span{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2.25rem;
            color: variables.$primaryColor;
            @media (max-width: variables.$breakpoint-xxs) {
                font-size: 2rem;
            }
        }
    }
    img{
        box-shadow: none;
        @media (max-width: variables.$breakpoint-xxs) {
            width: 28px;
        }
    }
}
.menu__button{
    cursor: pointer;
    color: variables.$fontDark;
    &--close{
        position: relative;
        z-index: 2;
        cursor: pointer;
        color: variables.$fontDark;
    }
}
.nav__items{
    position: fixed;
    z-index: 1;
    padding: 6.25rem 2.5rem;
    top: 0;
    right: -20rem;
    height: 100vh;
    width: 20rem;
    flex-direction: column;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    transition: right 0.5s ease-in-out, 
                background-color 0.5s ease-in-out;
    background-color: #FEFEFE;
    @media (max-width: variables.$breakpoint-sm) {
        width: 18rem;
        right: -18rem;
    }
    @media (max-width: variables.$breakpoint-xs) {
        width: 16rem;
        right: -16rem;
    }
    @media (max-width: variables.$breakpoint-xss) {
        width: 14rem;
        right: -14rem;
    }
    li{
        font-family: variables.$titleFont;
        padding-bottom: 3.85rem;
    }
}
.nav__items.open{
    right: 0;
    background-color: #FEFEFE;
}
