.design{
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @media (max-width: 944px){
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.design__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.85rem;
    max-width: 500px;

    @media (max-width: 944px){
        max-width: 625px;
    }

    @media (max-width: 834px){
        align-items: center;
    }
}

.design__button{
    padding: 1.5rem 0;
}

.design__img img{
    width: 100%;
    height: auto;
}