.slider__image{
    max-width: 78rem;
    width: 100%;
    margin: 2.5rem auto;
    padding: 1.85rem 0;


    img{
        object-fit: cover;
        width: 100%;
        height: auto;
    }
}
.slide__button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
}